# Локальная папка с плагинами (она весит много и качается через init)
.terraform/

# Файлы состояния (В НИХ ВСЕ ТВОИ СЕКРЕТЫ И ПАРОЛИ В ОТКРЫТОМ ВИДЕ!)
*.tfstate
*.tfstate.*

# Переменные, где ты мог записать свои ключи или пароли
*.tfvars
*.tfvars.json
override.tf
override.tf.json

# Твой SSH ключ (обязательно спрячь!)
*.pem

# Логи и временные файлы
.terraform.lock.hcl
terraform.tfstate.backup
